Repository whitehatgg/redux-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run, stylelint --fix

fix(activitylog): display proper intent labels and icons
  client/package.json
  client/src/App.tsx
  client/src/pages/_app.tsx
  client/src/pages/not-found.tsx
  packages/react/package.json
  packages/react/src/__tests__/ReduxAIProvider.test.tsx
  packages/react/src/components/ActivityLog.tsx
  packages/react/src/components/ChatBubble.tsx
  packages/react/src/hooks/useActivityLog.ts
  packages/react/src/hooks/useReduxAI.ts
  packages/runtime/package.json
  packages/runtime/src/__tests__/runtime.test.ts
  packages/runtime/src/index.ts
  packages/runtime/src/prompts.ts
  packages/state/__tests__/state.test.ts
  packages/state/package.json
  packages/state/src/__tests__/state.test.ts
  packages/state/src/index.ts
  packages/vector/README.md
  packages/vector/src/__tests__/storage.test.ts
  packages/vector/src/__tests__/vector.test.ts
  packages/vector/src/index.ts
  packages/vector/src/storage.ts
  packages/vector/src/types.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: align runtime package dependencies with lockfile versions
  packages/runtime/package.json
  pnpm-lock.yaml
Due: prettier --write

test: update ActivityLog tests to match component structure
  packages/react/src/__tests__/ActivityLog.test.tsx
  packages/react/src/components/ActivityLog.tsx
Due: prettier --write, eslint --fix, vitest related --run

fix(runtime): improve chain-of-thought reasoning implementation
  README.md
  packages/react/src/components/ActivityLog.tsx
  packages/react/src/hooks/useActivityLog.ts
  packages/runtime/README.md
  packages/runtime/src/__tests__/runtime.test.ts
  packages/runtime/src/__tests__/sample-queries.ts
  packages/runtime/src/index.ts
  packages/runtime/src/prompts.ts
  packages/runtime/src/provider.ts
  packages/runtime/src/types.ts
  packages/state/src/index.ts
  packages/vector/src/storage.ts
  packages/vector/src/types.ts
Due: prettier --write, eslint --fix, vitest related --run

chore: revert vitest config changes and maintain original setup
  .husky/pre-commit
  README.md
  package.json
  packages/runtime/src/__tests__/runtime.test.ts
  packages/runtime/src/index.ts
  packages/runtime/src/provider.ts
  packages/runtime/src/types.ts
  packages/runtime/vitest.config.mts
  packages/runtime/vitest.config.ts
  packages/vector/package.json
  packages/vector/src/__tests__/indexeddb.test.ts
  packages/vector/src/__tests__/setup.ts
  packages/vector/src/__tests__/storage.test.ts
  packages/vector/src/indexeddb.ts
  packages/vector/vitest.config.mts
  pnpm-lock.yaml
  vitest.config.ts
Due: prettier --write, eslint --fix, vitest related --run

chore: update vitest configurations for better TypeScript support
  .husky/pre-commit
  packages/runtime/vitest.config.mts
  packages/vector/vitest.config.mts
Due: none

fix: Update runtime tests and fix linting issues
  .husky/pre-commit
  README.md
  packages/langchain/src/__tests__/langchain.test.ts
  packages/openai/src/__tests__/openai.test.ts
  packages/openai/src/index.ts
  packages/react/src/components/ActivityLog.tsx
  packages/react/src/components/ChatBubble.tsx
  packages/react/src/hooks/useActivityLog.ts
  packages/react/src/hooks/useReduxAI.ts
  packages/runtime/src/__tests__/adapter.test.ts
  packages/runtime/src/__tests__/provider.test.ts
  packages/runtime/src/__tests__/runtime.test.ts
  packages/runtime/src/index.ts
  packages/runtime/src/prompts.ts
  packages/runtime/src/provider.ts
  packages/runtime/src/types.ts
  packages/state/src/index.ts
  packages/state/src/types.ts
  packages/vector/src/index.ts
  packages/vector/src/storage.ts
  packages/vector/src/types.ts
  server/config.ts
  server/index.ts
  server/routes.ts
Due: prettier --write, eslint --fix, vitest related --run

test: simplify runtime tests to focus on core intent classification
  packages/runtime/src/__tests__/runtime.test.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve intent classification with missing context validation
  packages/runtime/src/__tests__/runtime.test.ts
  packages/runtime/src/index.ts
  packages/runtime/src/prompts.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: resolve provider test failures
  packages/langchain/src/__tests__/langchain.test.ts
  packages/langchain/src/index.ts
  packages/openai/src/index.ts
Due: prettier --write, eslint --fix, vitest related --run

test: fix failing tests across packages
  packages/openai/src/__tests__/openai.test.ts
  packages/openai/src/index.ts
  packages/react/src/__tests__/ActivityLog.test.tsx
  packages/state/src/__tests__/state.test.ts
Due: prettier --write, eslint --fix, vitest related --run

chore: simplify pre-commit hook build command
  .husky/pre-commit
Due: none

feat: improve conversation prompt and add privacy features
  .eslintrc.js
  README.md
  eslint.config.js
  packages/express/src/__tests__/express.test.ts
  packages/express/src/index.ts
  packages/langchain/src/index.ts
  packages/nextjs/src/__tests__/nextjs.test.ts
  packages/nextjs/src/adapter.ts
  packages/openai/src/__tests__/openai.test.ts
  packages/openai/src/index.ts
  packages/react/README.md
  packages/react/package.json
  packages/react/src/components/ActivityLog.tsx
  packages/react/src/components/ChatBubble.tsx
  packages/react/src/components/ReduxAIProvider.tsx
  packages/react/src/hooks/useActivityLog.ts
  packages/react/src/hooks/useReduxAI.ts
  packages/react/src/hooks/useVectorDebug.ts
  packages/runtime/README.md
  packages/runtime/src/__tests__/adapter.test.ts
  packages/runtime/src/__tests__/runtime.test.ts
  packages/runtime/src/__tests__/sample-queries.ts
  packages/runtime/src/adapter.ts
  packages/runtime/src/index.ts
  packages/runtime/src/prompts.ts
  packages/runtime/src/types.ts
  packages/state/src/__tests__/machine.test.ts
  packages/state/src/index.ts
  packages/state/src/machine.ts
  packages/vector/src/indexeddb.ts
  pnpm-lock.yaml
  server/routes.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor: simplify tests and align implementations with standards
  packages/langchain/src/index.ts
  packages/nextjs/src/adapter.ts
  packages/nextjs/src/index.ts
  packages/runtime/src/__tests__/runtime.test.ts
  packages/runtime/src/index.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor: simplify tests and align implementations with standards
  .changeset/update-core-tests.md
  .changeset/weak-trams-tie.md
  client/CHANGELOG.md
  client/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/langchain/CHANGELOG.md
  packages/langchain/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/openai/CHANGELOG.md
  packages/openai/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/schema/CHANGELOG.md
  packages/schema/package.json
  packages/state/CHANGELOG.md
  packages/state/package.json
  packages/vector/CHANGELOG.md
  packages/vector/package.json
Due: prettier --write

fix: update Next.js adapter handler and test mocks to match API contract
  .changeset/update-core-tests.md
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/express/src/index.ts
  packages/langchain/CHANGELOG.md
  packages/langchain/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nextjs/src/__tests__/nextjs.test.ts
  packages/nextjs/src/adapter.ts
  packages/openai/CHANGELOG.md
  packages/openai/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
Due: prettier --write, eslint --fix, vitest related --run

refactor: simplify error handling and remove hardcoded errors across providers and adapters
  packages/express/src/__tests__/express.test.ts
  packages/express/src/index.ts
  packages/langchain/src/index.ts
  packages/nextjs/src/__tests__/nextjs.test.ts
  packages/nextjs/src/adapter.ts
  packages/openai/src/index.ts
  packages/react/package.json
  packages/react/src/__tests__/ChatBubble.test.tsx
  packages/react/src/__tests__/ReduxAIProvider.test.tsx
  packages/react/src/__tests__/test-utils.tsx
  packages/runtime/package.json
  packages/runtime/src/index.ts
  packages/runtime/src/prompts.ts
  packages/runtime/src/schema.ts
  pnpm-lock.yaml
  server/config.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: resolve typescript errors in vitest configs and vite type definitions
  README.md
  packages/express/tsconfig.json
  packages/express/vitest.config.ts
  packages/langchain/tsconfig.json
  packages/langchain/vitest.config.ts
  packages/nextjs/vitest.config.ts
  packages/openai/src/__tests__/openai.test.ts
  packages/openai/src/index.ts
  packages/openai/vitest.config.ts
  packages/react/src/__tests__/test-utils.tsx
  packages/react/tsconfig.json
  packages/react/vitest.config.ts
  packages/runtime/CHANGELOG.md
  packages/runtime/src/__tests__/adapter.test.ts
  packages/runtime/src/__tests__/provider.test.ts
  packages/runtime/src/index.ts
  packages/runtime/src/provider.ts
  packages/runtime/src/types.ts
  packages/runtime/tsconfig.json
  packages/runtime/vitest.config.mts
  packages/runtime/vitest.config.ts
  packages/schema/vitest.config.ts
  packages/state/vitest.config.ts
  packages/vector/vitest.config.mts
  packages/vector/vitest.config.ts
  server/vite.d.ts
  tsconfig.json
Due: prettier --write, eslint --fix, vitest related --run

feat: Implement intelligent runtime system with AI-driven workflow
  packages/react/__tests__/test-utils.tsx
  server/vite.d.ts
  tsconfig.json
  vite-env.d.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: add applicant detail view with workflows
  client/src/App.tsx
  client/src/components/ApplicantTable.tsx
  client/src/components/DetailView.tsx
  client/src/components/ui/button.tsx
  client/src/hooks/useNavigation.ts
  client/src/store/index.ts
  client/src/store/schema.ts
  client/src/store/slices/applicantSlice.ts
  packages/state/src/index.ts
  packages/state/src/middleware.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor: make navigation fully Redux-driven
  client/src/components/DetailView.tsx
  client/src/hooks/useNavigation.ts
  packages/state/README.md
  packages/state/src/__tests__/machine.test.ts
  packages/state/src/__tests__/middleware.test.ts
  packages/state/src/index.ts
  packages/state/src/machine.ts
  packages/state/src/middleware.ts
Due: prettier --write, eslint --fix, vitest related --run

fix(middleware): improve typing and test implementation
  packages/state/src/__tests__/middleware.test.ts
  packages/state/src/machine.ts
  packages/state/src/middleware.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor: simplify workflow middleware and tests
  packages/state/src/__tests__/integration.test.ts
  packages/state/src/__tests__/middleware.test.ts
  packages/state/src/index.ts
  packages/state/src/middleware.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor: simplify workflow middleware implementation
  README.md
  client/src/store/index.ts
  packages/state/src/__tests__/integration.test.ts
  packages/state/src/__tests__/middleware.test.ts
  packages/state/src/middleware.ts
  packages/state/tsconfig.json
Due: prettier --write, eslint --fix, vitest related --run

docs: update README example to match simplified middleware implementation
  README.md
Due: prettier --write

docs: enhance README with better state augmentation description and React integration example
  README.md
Due: prettier --write

docs: improve store configuration example and component structure in README
  README.md
Due: prettier --write

docs: update React package README to match simplified middleware implementation
  packages/react/README.md
Due: prettier --write

docs: update state package README to match simplified workflow middleware
  packages/state/README.md
Due: prettier --write

Simplify navigation architecture using URL-based routing with selectedApplicantId
  client/src/App.tsx
  client/src/components/ApplicantDetail.tsx
  client/src/components/ApplicantTable.tsx
  client/src/components/ui/button.tsx
  client/src/components/ui/card.tsx
  client/src/components/ui/separator.tsx
  client/src/components/ui/textarea.tsx
  client/src/store/schema.ts
  client/src/store/slices/applicantSlice.ts
Due: prettier --write, eslint --fix, vitest related --run

Update README with practical example of Redux AI implementation in an Applicant Tracking System
  README.md
Due: prettier --write

Optimize pre-commit hooks for better performance
  .husky/pre-commit
  .lintstagedrc
Due: none

docs: Update README to emphasize enhancement of existing ATS systems with AI capabilities
  README.md
  client/src/App.tsx
  client/src/components/ApplicantDetail.tsx
  client/src/components/ApplicantTable.tsx
  client/src/lib/queryClient.ts
  client/src/store/schema.ts
  client/src/store/slices/applicantSlice.ts
  replit.nix
  server/routes.ts
  server/storage.ts
  shared/schema.ts
Due: prettier --write, eslint --fix, vitest related --run

docs: Update README to be more general about Redux AI capabilities
  README.md
Due: prettier --write

Completely redesign workflow step processing for sequential display
  .eslintrc.js
  client/src/App.tsx
  client/src/components/WorkflowDemoSimple.tsx
  client/src/components/ui/badge.tsx
  client/src/lib/utils.ts
  client/src/store/index.ts
  client/src/store/schema.ts
  client/src/store/slices/applicantSlice.ts
  packages/react/src/components/ActivityLog.tsx
  packages/react/src/hooks/useActivityLog.ts
  packages/runtime/src/index.ts
  packages/runtime/src/prompts.ts
  packages/state/README.md
  packages/state/src/__tests__/middleware.test.ts
  packages/state/src/index.ts
  packages/state/src/machine.ts
  packages/state/src/middleware.ts
  packages/state/src/types.ts
  packages/vector/src/types.ts
Due: prettier --write, eslint --fix, vitest related --run

Update README with documentation about effect tracking middleware and workflow step processing
  README.md
Due: prettier --write

Fix: Remove unused AnyAction import from middleware.ts
  README.md
  packages/state/README.md
  packages/state/src/__tests__/middleware.test.ts
  packages/state/src/index.ts
  packages/state/src/machine.ts
  packages/state/src/middleware.ts
Due: prettier --write, eslint --fix, vitest related --run

Enhance: Improve action prompts with intelligent parameter resolution from state
  packages/runtime/src/__tests__/parameter-resolution.test.ts
  packages/runtime/src/prompts.ts
Due: prettier --write, eslint --fix, vitest related --run

Remove createEffectTracker alias in favor of createReduxAIMiddleware
  README.md
  client/src/store/index.ts
  examples/nextjs-langchain/src/store/index.ts
  packages/state/src/middleware.ts
Due: prettier --write, eslint --fix, vitest related --run

Enhance chat UI with improved feedback animations: change button text to 'Thinking...' with spinner icon and add typing animation during message processing
  packages/react/src/components/ChatBubble.tsx
  packages/state/src/middleware.ts
Due: prettier --write, eslint --fix, vitest related --run

Path conditions:
  prettier --write: ((((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})) or (any of: *.{css,scss})) or (any of: packages/*/src/**/*.{ts,tsx,json})) or (any of: *.{cjs,mjs})
  eslint --fix: ((any of: *.{js,jsx,ts,tsx}) or (any of: packages/*/src/**/*.{ts,tsx,json})) or (any of: *.{cjs,mjs})
  vitest related --run: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
