Repository whitehatgg/redux-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run, stylelint --fix

docs(changeset): fix release process
  .changeset/silent-horses-report.md
Due: prettier --write

docs(changeset): feat: fix release
  .changeset/tame-wasps-type.md
Due: prettier --write

docs(changeset): echo "Fix: Add missing dist directories in packages for proper package publishing"
  .changeset/four-paws-count.md
Due: prettier --write

ci: remove failure notification and ignore client package from changesets
  .changeset/config.json
  .github/workflows/ci.yml
Due: prettier --write

fix: remove GitHub Actions PR creation permissions and update workflow docs
  .github/workflows/ci.yml
  .github/workflows/pull-request.yml
  CONTRIBUTING.md
  renovate.json
Due: prettier --write

chore: remove redundant pull-request workflow file
  .github/workflows/pull-request.yml
Due: none

fix: improve GitHub Actions setup job reliability
  .github/workflows/ci.yml
Due: none

fix: add explicit npmrc configuration for reliable package installation
  .github/workflows/ci.yml
Due: none

fix: resolve type definition and build issues
  attached_assets/Pasted-2025-02-22T19-38-21-3815377Z-group-Run-pnpm-build-2025-02-22T19-38-21-3815708Z-36-1mpnpm-build--1740253303411.txt
  packages/openai/src/index.ts
  packages/openai/tsconfig.json
  packages/react/vite.config.ts
  packages/schema/src/index.ts
  packages/schema/src/validation.ts
  packages/vector/src/index.d.ts
  packages/vector/src/index.ts
  packages/vector/tsconfig.json
  server/vite.d.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: adjust Vite ServerOptions type definition and express adapter imports
  attached_assets/Pasted-2025-02-22T19-38-21-3815377Z-group-Run-pnpm-build-2025-02-22T19-38-21-3815708Z-36-1mpnpm-build--1740253303411.txt
  client/src/App.tsx
  packages/express/src/__tests__/express.test.ts
  packages/nextjs/src/__tests__/nextjs.test.ts
  packages/runtime/src/__tests__/adapter.test.ts
  packages/runtime/src/__tests__/provider.test.ts
  packages/runtime/src/__tests__/runtime.test.ts
  packages/runtime/src/adapter.ts
  packages/runtime/vitest.config.ts
  packages/vector/src/__tests__/indexeddb.test.ts
  packages/vector/src/__tests__/storage.test.ts
  packages/vector/src/__tests__/vector-ops.test.ts
  packages/vector/src/storage.ts
  packages/vector/vitest.config.ts
  server/vite.d.ts
Due: prettier --write, eslint --fix, vitest related --run

test: checking pre-commit hook
  .husky/pre-commit
Due: none

test: add basic openai test file
  packages/openai/src/__tests__/openai.test.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: Abstract Express middleware and handlers into @redux-ai/express package
  CONTRIBUTING.md
  packages/express/src/__tests__/express.test.ts
  packages/express/src/index.ts
  packages/express/src/middleware.ts
  packages/langchain/package.json
  packages/langchain/src/__tests__/langchain.test.ts
  packages/langchain/src/index.ts
  packages/langchain/vitest.config.ts
  packages/openai/package.json
  packages/openai/src/__tests__/openai.test.ts
  packages/openai/vitest.config.ts
  packages/react/src/__tests__/example.test.tsx
  packages/runtime/src/__tests__/adapter.test.ts
  packages/runtime/src/__tests__/provider.test.ts
  packages/runtime/src/__tests__/runtime.test.ts
  packages/schema/src/__tests__/schema.test.ts
  pnpm-lock.yaml
  server/config.ts
  server/routes.ts
  tsconfig.json
Due: prettier --write, eslint --fix, vitest related --run

fix: update tests and fix linting issues
  eslint.config.js
  examples/nextjs-langchain/.env.local
  examples/nextjs-langchain/README.md
  examples/nextjs-langchain/next.config.js
  examples/nextjs-langchain/package.json
  examples/nextjs-langchain/src/pages/_app.tsx
  examples/nextjs-langchain/src/pages/index.tsx
  examples/nextjs-langchain/src/styles/globals.css
  examples/nextjs-langchain/tailwind.config.js
  examples/nextjs-langchain/tsconfig.json
  packages/express/src/__tests__/express.test.ts
  packages/express/src/index.ts
  packages/langchain/src/__tests__/langchain.test.ts
  packages/langchain/src/index.ts
  packages/nextjs/src/__tests__/nextjs.test.ts
  packages/runtime/package.json
  packages/runtime/src/__tests__/adapter.test.ts
  packages/runtime/src/__tests__/provider.test.ts
  packages/runtime/src/__tests__/runtime.test.ts
  packages/runtime/src/types.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/config.ts
Due: prettier --write, eslint --fix, vitest related --run, stylelint --fix

chore: standardize test configuration across packages
  .changeset/green-weeks-fly.md
  CONTRIBUTING.md
  examples/nextjs-langchain/src/pages/index.tsx
  packages/express/src/index.ts
  packages/express/src/middleware.ts
  packages/langchain/package.json
  packages/langchain/vitest.config.ts
  packages/openai/src/__tests__/openai.test.ts
  packages/react/src/__tests__/example.test.tsx
  packages/react/vitest.config.ts
  packages/runtime/vitest.config.ts
  packages/schema/src/__tests__/schema.test.ts
  packages/schema/vitest.config.ts
  packages/state/vitest.config.ts
  server/routes.ts
  tsconfig.json
Due: prettier --write, eslint --fix, vitest related --run

docs: comprehensive documentation updates across all packages
  .changeset-message.txt
  packages/express/package.json
  packages/langchain/README.md
  packages/langchain/package.json
  packages/nextjs/README.md
  packages/nextjs/package.json
  packages/openai/README.md
  packages/openai/package.json
  packages/react/README.md
  packages/runtime/README.md
  packages/runtime/package.json
  packages/runtime/src/__tests__/provider.test.ts
  packages/schema/README.md
  packages/state/README.md
  packages/state/package.json
  packages/vector/README.md
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, vitest related --run

chore: update express package dependencies and sync lockfile
  pnpm-lock.yaml
Due: none

chore: ignore examples directory in changesets
  .changeset/config.json
Due: prettier --write

fix: update examples ignore pattern in changesets config to use correct micromatch syntax
  .changeset/config.json
Due: prettier --write

fix: update examples ignore pattern in changesets config to use correct recursive micromatch syntax
  .changeset/config.json
Due: prettier --write

fix: update changesets config to use package name pattern for ignoring examples
  .changeset/config.json
Due: prettier --write

docs(changeset): first major release
  .changeset/real-lizards-kick.md
Due: prettier --write

fix: handle undefined tableConfig in ApplicantTable and add missing export in express package
  attached_assets/Pasted-2025-02-23T02-32-53-9175964Z-ERROR-No-matching-export-in-packages-express-src-index-ts-for-imp-1740278059368.txt
  client/src/components/ApplicantTable.tsx
  packages/express/src/index.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: resolve TypeScript errors in schema validation
  packages/schema/src/index.ts
  packages/schema/src/types.ts
  packages/state/src/index.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: align ajv-ts dependency version in package.json with lockfile
  client/src/store/index.ts
  examples/nextjs-langchain/src/components/ui/form.tsx
  examples/nextjs-langchain/src/pages/api/chat.ts
  examples/nextjs-langchain/src/store/slices/applicantSlice.ts
  packages/schema/package.json
Due: prettier --write, eslint --fix, vitest related --run

refactor: update types in applicant slice
  attached_assets/Pasted-Action-schemas-not-found-in-schema-schema-type-object-properties--1740517416609.txt
  client/src/App.tsx
  client/src/components/ApplicantTable.tsx
  client/src/components/ui/card.tsx
  client/src/components/ui/code.tsx
  client/src/pages/_app.tsx
  client/src/store/index.ts
  client/src/store/schema.ts
  client/src/store/slices/applicantSlice.ts
  examples/nextjs-langchain/.eslintrc.js
  examples/nextjs-langchain/package.json
  examples/nextjs-langchain/src/components/ui/form.tsx
  examples/nextjs-langchain/src/pages/_app.tsx
  examples/nextjs-langchain/src/pages/api/chat.ts
  examples/nextjs-langchain/src/store/index.ts
  examples/nextjs-langchain/src/store/schema.ts
  examples/nextjs-langchain/src/store/slices/applicantSlice.ts
  examples/nextjs-langchain/tsconfig.json
  packages/react/src/__tests__/ReduxAIProvider.test.tsx
  packages/react/src/components/ChatBubble.tsx
  packages/react/src/components/ReduxAIProvider.tsx
  packages/react/src/hooks/useReduxAI.ts
  packages/react/src/hooks/useVectorDebug.ts
  packages/runtime/src/__tests__/runtime.test.ts
  packages/runtime/src/index.ts
  packages/schema/package.json
  packages/schema/src/__tests__/schema.test.ts
  packages/schema/src/index.ts
  packages/schema/src/utils.ts
  packages/state/src/__tests__/state.test.ts
  packages/state/src/index.ts
  packages/state/src/prompts.ts
  packages/state/src/types.ts
  packages/state/src/utils.ts
  packages/vector/src/storage.ts
  pnpm-lock.yaml
  server/routes.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve schema validation and state query handling
  attached_assets/Pasted-import-type-BaseAction-from-redux-ai-schema-import-s-from-redux-ai-schema-import-s-1740577454068.txt
  client/src/store/__tests__/schema.test.ts
  client/src/store/middleware/actionValidator.ts
  client/src/store/schema.ts
  packages/express/src/__tests__/express.test.ts
  packages/express/src/index.ts
  packages/langchain/src/index.ts
  packages/openai/src/index.ts
  packages/react/src/components/ChatBubble.tsx
  packages/react/src/hooks/useReduxAI.ts
  packages/schema/src/__tests__/schema.test.ts
  packages/schema/src/index.ts
  packages/state/src/__tests__/state.test.ts
  packages/state/src/index.ts
  packages/state/src/prompts.ts
  server/routes.ts
Due: prettier --write, eslint --fix, vitest related --run

refactor: Fix linting issues and improve error handling
  .eslintrc.js
  README.md
  client/.eslintrc.js
  client/src/components/ui/card.tsx
  examples/nextjs-langchain/.eslintrc.js
  examples/nextjs-langchain/.next/cache/config.json
  examples/nextjs-langchain/README.md
  examples/nextjs-langchain/src/components/ui/form.tsx
  examples/nextjs-langchain/src/components/ui/input.tsx
  examples/nextjs-langchain/src/components/ui/label.tsx
  examples/nextjs-langchain/src/lib/utils.ts
  examples/nextjs-langchain/src/store/index.ts
  examples/nextjs-langchain/src/store/slices/applicantSlice.ts
  examples/nextjs-langchain/tsconfig.json
  packages/express/README.md
  packages/nextjs/README.md
  packages/runtime/src/__tests__/adapter.test.ts
  packages/runtime/src/adapter.ts
  packages/state/package.json
  packages/state/src/types.ts
  packages/state/src/utils.ts
Due: prettier --write, eslint --fix, vitest related --run

chore: Align @sinclair/typebox versions to ^0.34.28 across workspace packages
  packages/schema/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: Add @sinclair/typebox as direct dependency to state package
  packages/state/package.json
  pnpm-lock.yaml
Due: prettier --write

docs(changeset): release
  .changeset/config.json
  .changeset/happy-results-accept.md
  README.md
  packages/react/README.md
  pnpm-workspace.yaml
Due: prettier --write

RELEASING: Releasing 10 package(s)
  .changeset/four-paws-count.md
  .changeset/green-weeks-fly.md
  .changeset/happy-results-accept.md
  .changeset/real-lizards-kick.md
  .changeset/silent-horses-report.md
  .changeset/tame-wasps-type.md
  client/CHANGELOG.md
  client/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/langchain/CHANGELOG.md
  packages/langchain/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/openai/CHANGELOG.md
  packages/openai/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/runtime/CHANGELOG.md
  packages/runtime/package.json
  packages/schema/CHANGELOG.md
  packages/schema/package.json
  packages/state/CHANGELOG.md
  packages/state/package.json
  packages/vector/CHANGELOG.md
  packages/vector/package.json
Due: prettier --write

docs(changeset): release packages
  .changeset/weak-trams-tie.md
Due: prettier --write

fix: update import path in state tests to correctly resolve createReduxAIState
  packages/state/__tests__/state.test.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: update mock action schema in ReduxAIProvider test to use Type.Optional
  packages/react/src/__tests__/ReduxAIProvider.test.tsx
Due: prettier --write, eslint --fix, vitest related --run

chore: add @sinclair/typebox dependency
  packages/react/package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: ((((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})) or (any of: *.{css,scss})) or (any of: packages/*/src/**/*.{ts,tsx,json})) or (any of: *.{cjs,mjs})
  eslint --fix: ((any of: *.{js,jsx,ts,tsx}) or (any of: packages/*/src/**/*.{ts,tsx,json})) or (any of: *.{cjs,mjs})
  vitest related --run: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
