Repository whitehatgg/redux-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,md,css}": ["prettier --write"],
  "packages/*/src/**/*.{ts,tsx,json}": ["prettier --write", "eslint --fix"]
}

chore: update project configuration and dependencies
  .changeset/config.json
  CONTRIBUTING.md
  README.md
  client/src/App.tsx
  client/src/components/ApplicantTable.tsx
  client/src/index.css
  client/src/lib/prompts.ts
  eslint.config.js
  packages/react/.eslintrc.js
  packages/react/package.json
  packages/react/tsconfig.json
  packages/react/tsconfig.test.json
  packages/react/vitest.config.ts
  packages/schema/package.json
  packages/schema/vitest.config.ts
  packages/state/package.json
  packages/state/tsconfig.json
  packages/state/vitest.config.ts
  packages/vector/package.json
  packages/vector/tsconfig.json
  packages/vector/vitest.config.ts
  server/routes.ts
  tailwind.config.ts
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
Due: prettier --write, eslint --fix

fix(packages/react): resolve TypeScript build errors in CI
  packages/react/src/__tests__/test-utils.tsx
  packages/react/tsconfig.json
Due: prettier --write, eslint --fix

fix: improve pre-commit hooks and build process
  .husky/pre-commit
  client/src/index.css
Due: prettier --write

chore: improve linting configuration
  .husky/pre-commit
  .lintstagedrc
  .stylelintrc.json
  client/src/index.css
  eslint.config.js
  package-lock.json
  package.json
  postcss.config.js
  tailwind.config.ts
  theme.json
Due: prettier --write, eslint --fix

feat: enhance pre-commit hooks with comprehensive linting
  .lintstagedrc
  eslint.config.js
  packages/react/src/__tests__/example.test.tsx
  packages/react/src/test-utils.ts
  packages/schema/tsconfig.json
  packages/state/tsconfig.json
  packages/vector/tsconfig.json
Due: prettier --write, eslint --fix

docs: update package dependency documentation and fix circular dependencies
  .husky/pre-commit
  CONTRIBUTING.md
  eslint.config.js
  packages/react/src/__tests__/example.test.tsx
  packages/state/tsconfig.json
  packages/vector/src/__tests__/vector.test.ts
  packages/vector/src/index.d.ts
  packages/vector/src/indexeddb.d.ts
  packages/vector/src/storage.d.ts
  packages/vector/tsconfig.json
Due: prettier --write, eslint --fix

chore: improve repository maintenance and cleanup
  .husky/pre-commit
  CONTRIBUTING.md
  server/types.d.ts
Due: prettier --write, eslint --fix

fix: add cssnano package for PostCSS optimization in production build
  package-lock.json
  package.json
Due: prettier --write

ci: enhance GitHub workflow for pnpm monorepo
  .github/workflows/ci.yml
  attached_assets/Pasted-client-build-x-Build-failed-in-788ms-client-build-error-during-build-client-build-commonjs-r-1740087601404.txt
  client/tailwind.config.ts
  client/vite.config.ts
  package-lock.json
  package.json
  packages/react/package.json
  packages/react/vite.config.ts
Due: prettier --write, eslint --fix

chore: verify CI workflow steps locally
  package-lock.json
  pnpm-lock.yaml
  server/vite.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore: execute CI workflow commands locally - Install dependencies with pnpm - Build packages in correct order - Run lint, format checks and tests All checks passed successfully
  .replit
  CONTRIBUTING.md
  packages/react/package.json
  packages/schema/package.json
  server/vite.ts
Due: prettier --write, eslint --fix

chore: add pnpm-lock.yaml to version control
  CONTRIBUTING.md
Due: prettier --write

fix: add type definition for vite allowedHosts configuration
  .github/workflows/ci.yml
  .npmrc
  pnpm-workspace.yaml
  server/types/vite.d.ts
  server/vite.ts
Due: prettier --write, eslint --fix

fix(ci): update GitHub Actions workflow and test configuration
  .changeset/red-lions-bow.md
  .github/workflows/ci.yml
  attached_assets/Pasted-client-build-x-Build-failed-in-788ms-client-build-error-during-build-client-build-commonjs-r-1740087601404.txt
  packages/react/tsconfig.test.json
Due: prettier --write

chore(packages): standardize package configurations
  .changeset/config.json
  .changeset/red-lions-bow.md
  .github/workflows/ci.yml
  .npmrc
  packages/react/package.json
  packages/state/package.json
  packages/vector/package.json
Due: prettier --write

build: add prebuild scripts to clean dist directories and fix react package build configuration
  .github/workflows/ci.yml
  packages/react/package.json
  packages/schema/package.json
  packages/state/package.json
  packages/vector/package.json
Due: prettier --write

fix: improve npm authentication in CI workflow
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .npmrc
Due: none

chore: update npm token configuration to use NODE_AUTH_TOKEN consistently
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .npmrc
Due: none

fix: update npm token configuration for CI/CD
  .npmrc
  attached_assets/Pasted-name-CI-on-push-branches-main-pull-request-branches-main-jobs-build--1740103337273.txt
Due: none

fix: update GitHub Actions workflow to use NODE_AUTH_TOKEN consistently
  .github/workflows/ci.yml
Due: none

chore: remove temporary workflow file
  attached_assets/Pasted-name-CI-on-push-branches-main-pull-request-branches-main-jobs-build--1740103337273.txt
Due: none

fix: update npm token configuration in CI workflow
  .changeset/config.json
  .github/workflows/ci.yml
  .npmrc
  packages/react/package.json
  packages/schema/package.json
  packages/state/package.json
  packages/vector/package.json
Due: prettier --write

fix: update NPM token configuration in GitHub Actions workflow
  .github/workflows/ci.yml
  .npmrc
Due: none

fix: simplify npm authentication in GitHub Actions
  .github/workflows/ci.yml
Due: none

chore: optimize CI workflow and consolidate tsconfig files
  .github/workflows/ci.yml
  package.json
  packages/react/package.json
  packages/react/tsconfig.json
  packages/schema/package.json
  packages/schema/tsconfig.json
  packages/state/package.json
  packages/state/tsconfig.json
  packages/vector/package.json
  packages/vector/src/index.ts
  packages/vector/tsconfig.json
  tsconfig.json
Due: prettier --write, eslint --fix

chore: update npmrc to use NPM_TOKEN and regenerate lockfile
  .npmrc
Due: none

revert: restore original prepublishOnly scripts to skip build
  packages/schema/package.json
  packages/state/package.json
  packages/vector/package.json
Due: prettier --write

fix: update npm token format and ci workflow verification
  .github/workflows/ci.yml
  .npmrc
Due: none

fix: update CI/CD workflow with proper pnpm setup and verification steps
  .github/workflows/ci.yml
Due: none

fix: align VectorStorage class with ReduxAIVector interface to resolve type mismatch
  packages/react/src/components/ReduxAIProvider.tsx
  packages/vector/src/storage.d.ts
Due: prettier --write, eslint --fix

fix: Update @redux-ai/react package build configuration
  packages/react/package.json
  packages/react/vite.config.ts
Due: prettier --write, eslint --fix

chore: update package publishing configurations and CI workflow
  .github/workflows/ci.yml
  .npmrc
  packages/react/package.json
  packages/schema/package.json
  packages/state/package.json
  packages/vector/package.json
Due: prettier --write

fix: add npm provenance permissions and configuration
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  attached_assets/Pasted-error-an-error-occurred-while-publishing-redux-ai-schema-EUSAGE-Provenance-generation-in-GitHub-Ac-1740159697028.txt
  client/src/App.tsx
  client/tsconfig.json
Due: prettier --write, eslint --fix

chore: remove redundant publish workflow and error log
  .github/workflows/publish.yml
  attached_assets/Pasted-error-an-error-occurred-while-publishing-redux-ai-schema-EUSAGE-Provenance-generation-in-GitHub-Ac-1740159697028.txt
Due: none

docs(changeset):
  .changeset/salty-geese-beg.md
  .github/workflows/ci.yml
  packages/react/package.json
  packages/schema/package.json
  packages/state/package.json
  packages/vector/package.json
Due: prettier --write

chore: simplify package configurations by removing individual repository info and provenance settings
  .changeset/salty-geese-beg.md
  .github/workflows/ci.yml
  packages/react/package.json
  packages/schema/package.json
  packages/state/package.json
  packages/vector/package.json
Due: prettier --write

feat: enable root package updates in changeset config
  .changeset/config.json
Due: prettier --write

feat: add release script for changeset publish
  package.json
Due: prettier --write

docs: enhance package documentation with detailed API references and examples
  packages/react/README.md
  packages/react/package.json
  packages/schema/README.md
  packages/schema/package.json
  packages/state/README.md
  packages/state/package.json
  packages/vector/README.md
  packages/vector/package.json
Due: prettier --write

feat: add Renovate configuration for monorepo dependency management
  .gitignore
  renovate.json
Due: prettier --write
